{% extends 'student/base.html' %}
{% block title %}Details page{% endblock %}
{% block body %}
<div class="conatainer">
		<div class="header">Ranking</div>
		
		<hr id="header_l"><br>
</div>

<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
<div class="container">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist" style="text-transform:uppercase;">
		<li role="presentation" class="active"><a href="#TOPS" aria-controls="TOPS" role="tab" data-toggle="tab">Tops</a></li>
		<li role="presentation"><a href="#GITHUB" aria-controls="GITHUB" role="tab" data-toggle="tab" style="font-size:15px;">GITHUB</a></li>
		<li role="presentation"><a href="#SPOJ" aria-controls="SPOJ" role="tab" data-toggle="tab">SPOJ</a></li>
		<li role="presentation"><a href="#CODECHEF" aria-controls="CODECHEF" role="tab" data-toggle="tab">CODECHEF</a></li>
		<li role="presentation"><a href="#CODEBUDDY" aria-controls="CODEBUDDY" role="tab" data-toggle="tab">CODEBUDDY</a></li>
                <li role="presentation"><a href="#CODEFORCES" aria-controls="CODEFORCES" role="tab" data-toggle="tab">CODEFORCES</a></li>
		<li role="presentation"><a href="#HACKEREARTH" aria-controls="HACKEREARTH" role="tab" data-toggle="tab">HACKEREARTH</a></li>
		
	  </ul>
	  
	<!-- <hr style="width:100%"> -->
	  <br><br>
	  <!-- Tab panes -->
          <font size="5">
	  <div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="TOPS">
			<div class="content">
				<div class="container">

                                </div>
                        </div>
                </div>
         
          
		<div role="tabpanel" class="tab-pane fade" id="GITHUB">
			<div class="content">
				<div class="container">
                                    
                                    <div class="row"><center>
                                        <div class="col-lg-3 col-md-3">Username</div><div class="col-lg-3 col-md-3">Enrollment No</div><div class="col-lg-3 col-md-3">Contributions</div><div class="col-lg-3 col-md-3">Repositories</div>
                                    </center></div>
                                    <ol type="1">
				    {% for site in github %}
                                    {% if site.site.site_name == "github" %}
                                         {% if request.user == site.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         <div class="row"><center>
                                        <li> <div class="col-lg-3 col-md-3">{{site.username}}</div><div class="col-lg-3 col-md-3">{% for student in site.user.student_set.all %}{% if student.user == site.user %}{{student.enrollment_no}}{% endif %}{% endfor %}</div><div class="col-lg-3 col-md-3">{{site.site_contribution}}</div><div class="col-lg-3 col-md-3">{{site.site_repo}}</div>
                                    </li></center></div> 
                                          
                                         </font>
                                    {% endif %}
                                    {% endfor %}
									
                                      
				    </ol>
					<br>
					<div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>javascript</h3>
                                        <ol type="1">
										{% for git in javascript %}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                        
                                        <li> {{git.user.username}}
                                    </li>
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>C</h3>
                                        <ol type="1">
										{% for git in c%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                        
                                        <li> {{git.user.username}}
                                    </li> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>C++</h3>
                                        <ol type="1">
										{% for git in cpp%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                       
                                        <li> {{git.user.username}}
                                    </li></center> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</div>
                                    </div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>Python</h3>
                                        <ol type="1">
										{% for git in python%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         
                                        <li> {{git.user.username}}
                                    </li>
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>html</h3>
                                        <ol type="1">
										{% for git in html%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                        
                                        <li> {{git.user.username}}
                                    </li> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>Css</h3>
                                        <ol type="1">
										{% for git in css%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         
                                        <li> {{git.user.username}}
                                    </li> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>processing</h3>
                                        <ol type="1">
										{% for git in processing%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         
                                        <li> {{git.user.username}}
                                    </li> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
									<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
									<div class="thumbnail"><center>
									<h3>php</h3>
                                        <ol type="1">
										{% for git in php%}
                                    
                                         {% if request.user == git.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         
                                        <li> {{git.user.username}}
                                    </li> 
                                          
                                         </font>
                                    
                                    {% endfor %}
									
                                      
										</ol>
										</center></div>
                                    </div>
									
					</div>
					
                                </div>
                        </div>
                </div>
          
          
		<div role="tabpanel" class="tab-pane fade" id="SPOJ">
			<div class="content">
				<div class="container">
                                    <div class="row"><center>
                                        <div class="col-lg-3 col-md-3">Username</div><div class="col-lg-3 col-md-3">Enrollment No</div><div class="col-lg-3 col-md-3">Points</div><div class="col-lg-3 col-md-3">World Rank</div>
                                    </center></div>
                                    <ol type="1">
				    {% for site in spoj %}
                                    {% if site.site.site_name == "spoj" %}
                                         {% if request.user == site.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         <div class="row"><center>
                                        <li> <div class="col-lg-3 col-md-3">{{site.username}}</div><div class="col-lg-3 col-md-3">{% for student in site.user.student_set.all %}{% if student.user == site.user %}{{student.enrollment_no}}{% endif %}{% endfor %}</div><div class="col-lg-3 col-md-3">{{site.site_point}}</div><div class="col-lg-3 col-md-3">{{site.site_rank}}</div>
                                    </li></center></div>
                                    	 </font>
				    {% endif %}
                                    {% endfor %}
                                      
				    </ol>
                                </div>
                        </div>
                </div>
          
         
		<div role="tabpanel" class="tab-pane fade" id="CODECHEF">
			<div class="content">
				<div class="container">
                                    <div class="row"><center>
                                        <div class="col-lg-3 col-md-3">Username</div><div class="col-lg-3 col-md-3">Enrollment No</div><div class="col-lg-3 col-md-3">Rating</div><div class="col-lg-3 col-md-3">World Rank</div>
                                    </center></div>
                                    <ol type="1">
				    {% for site in codechef %}
                                    {% if site.site.site_name == "codechef" %}
                                         {% if request.user == site.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         <div class="row"><center>
                                        <li> <div class="col-lg-3 col-md-3">{{site.username}}</div><div class="col-lg-3 col-md-3">{% for student in site.user.student_set.all %}{% if student.user == site.user %}{{student.enrollment_no}}{% endif %}{% endfor %}</div><div class="col-lg-3 col-md-3">{{site.site_rating}}</div><div class="col-lg-3 col-md-3">{{site.site_rank}}</div>
                                        </li></center></div>
                                            
                                         </font>
                                    {% endif %}
                                    {% endfor %}
                                      
				    </ol>
                                </div>
                        </div>
                </div>
          	
		<div role="tabpanel" class="tab-pane fade" id="CODEBUDDY">
			<div class="content">
				<div class="container">
                                    <div class="row"><center>
                                        <div class="col-lg-3 col-md-3">Username</div><div class="col-lg-3 col-md-3">Enrollment No</div><div class="col-lg-3 col-md-3">Points</div><div class="col-lg-3 col-md-3">World Rank</div>
                                    </center></div>
                                    <ol type="1">
				    {% for site in codebuddy %}
                                    {% if site.site.site_name == "codebuddy" %}
                                         {% if request.user == site.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         <div class="row"><center>
                                        <li> <div class="col-lg-3 col-md-3">{{site.username}}</div><div class="col-lg-3 col-md-3">{% for student in site.user.student_set.all %}{% if student.user == site.user %}{{student.enrollment_no}}{% endif %}{% endfor %}</div><div class="col-lg-3 col-md-3">{{site.site_point}}</div><div class="col-lg-3 col-md-3">{{site.site_rank}}</div>
                                    </li></center></div>
                                         </font>
                                    {% endif %}
                                    {% endfor %}
                                      
				    </ol>
                                </div>
                        </div>
                </div>
		
                <div role="tabpanel" class="tab-pane fade" id="CODEFORCES">
			<div class="content">
				<div class="container">
                                    <div class="row"><center>
                                        <div class="col-lg-3 col-md-3">Username</div><div class="col-lg-3 col-md-3">Enrollment No</div><div class="col-lg-3 col-md-3">Rating</div>
                                    </center></div>
                                    <ol type="1">
				    {% for site in codeforces %}
                                    {% if site.site.site_name == "codeforces" %}
                                         {% if request.user == site.user %}
                                         <font color="yellow">
                                         {% else %}
                                         <font color="black">
                                         {% endif %}
                                         <div class="row"><center>
                                        <li> <div class="col-lg-3 col-md-3">{{site.username}}</div><div class="col-lg-3 col-md-3">{% for student in site.user.student_set.all %}{% if student.user == site.user %}{{student.enrollment_no}}{% endif %}{% endfor %}</div><div class="col-lg-3 col-md-3">{{site.site_rating}}</div>
                                    </li></center></div>
                                         </font>
                                    {% endif %}
                                    {% endfor %}
                                      
				    </ol>
                                </div>
                        </div>
                </div>
                   
		<div role="tabpanel" class="tab-pane fade" id="HACKEREARTH">
			<div class="content">
				<div class="container">
                                     
                                </div>
                        </div>
                </div>
          </div>
          </font>
</div>
</div>

{% endblock %}
