html { 
  /*background: url(images/back.jpg) repeat ; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
	border-radius:0;
	
}

.navbar-brand{
	font-family:'Satisfy', cursive; 
}

a {
	text-decoration: none;
}
hr {
			border:none;
  			height: 20px;
 			width: 60%;
			height: 50px;
			margin-top: 0;
			border-bottom: 1px solid #1f1209;
	  		box-shadow: 0 10px 10px -10px #333;
      		margin: -50px auto 10px; 
}
.header {
			text-align: center;
			font-weight: 600;
			font-family: Dosis;
			font-size: 50px;
			color: black;
			margin-top: 5%;
		}
		#header_l {
 			border:none;
  			height: 20px;
 			width: 60%;
			height: 50px;
			margin-top: 0;
			border-bottom: 1px solid #1f1209;
	  		box-shadow: 0 20px 20px -20px #333;
      		margin: -50px auto 10px; 
}

body {
	font-family: 'Lato', Arial, sans-serif;
	color: #989c9b;
}

.container > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.container > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 2000px;
	overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
}

tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

td.rank {
	text-transform: capitalize;
}

